{% extends 'base.html.twig' %}

{% block title %}Hello JouerController!{% endblock %}

{% block body %}

<div class="fondBeige">
    <h1>{{aventure.titre}}: la Fin d'une Aventure</h1>
    <p> La geste de {{personnage.prenom}} {{personnage.nom}} 
    <p>{{aventure.conclusion}}
    </p>
   
    


</div>
{% endblock %}
