{% extends 'base.html.twig' %}

{% block title %}New Personnage{% endblock %}

{% block body %}
<div class="fondBeige">
    <h1>Create new Personnage</h1>
    {{ include('jouer/personnage_form.html.twig') }}
    <a href="{{ path('jouer') }}">Retour</a>
    </div>
{% endblock %}
