{% extends 'base.html.twig' %}

{% block title %}New Aventure{% endblock %}

{% block body %}
    <h1>Create new Aventure</h1>

    {{ include('aventure/_form.html.twig') }}

    <a href="{{ path('app_aventure_index') }}">back to list</a>
{% endblock %}
