{% extends 'base.html.twig' %}

{% block title %}Edit Etape{% endblock %}

{% block body %}
    <h1>Edit Etape</h1>

    {{ include('etape/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_etape_index') }}">back to list</a>

    {{ include('etape/_delete_form.html.twig') }}
{% endblock %}
